@import "palette";
@import "consts";
body {
  background-color: $color1;
  margin: 0;
  & > div {
    height: 100vh;
    display: flex;
  }
}

.root {
  width: 100vw;
  height: calc(100vw * 9 / 16);
  margin: auto 0;
  position: relative;
  background-color: $color2;
  outline: none;
}
